In [1]:
import pandas as pd
import numpy as np
import pickle
%matplotlib inline
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold

In [2]:
df = pd.read_csv("titanic_regression.csv")
df

          Fare  class_ticket__2  class_ticket__3
0       7.2500                0                1
1      71.2833                0                0
2       7.9250                0                1
3      53.1000                0                0
4       8.0500                0                1
...        ...              ...              ...
1303    8.0500                0                1
1304  108.9000                0                0
1305    7.2500                0                1
1306    8.0500                0                1
1307   22.3583                0                1

[1308 rows x 3 columns]

In [3]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import MinMaxScaler


# Load dataset
X = df.loc[:, ["class_ticket__2","class_ticket__3"]]
y = df['Fare']

# Split dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on test set
y_pred = model.predict(X_test)

# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 2225.9552416617444

In [4]:
# Save the model to a file
with open('model.pkl', 'wb') as f:
    pickle.dump(model, f)

In [5]:
df = pd.read_csv("titanic_classification.csv")
df

,Pclass,Sex,Age,SibSp,Parch,Fare,Emb_C,Emb_Q,Emb_S,Survived
0,3,0,22.0,1,0,7.2500,0,0,1,0
1,1,0,38.0,1,0,71.2833,1,0,0,1
2,3,0,26.0,0,0,7.9250,0,0,1,1
3,1,0,35.0,1,0,53.1000,0,0,1,1
4,3,0,35.0,0,0,8.0500,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
886,2,0,27.0,0,0,13.0000,0,0,1,0
887,1,0,19.0,0,0,30.0000,0,0,1,1
888,3,0,-100000000.0,1,2,23.4500,0,0,1,0
889,1,0,26.0,0,0,30.0000,1,0,0,1
890,3,0,32.0,0,0,7.7500,0,1,0,0

## Random Forest

In [6]:
from sklearn.ensemble import RandomForestClassifier

In [7]:
rf_params = {
    'n_estimators': 100,
    'criterion': 'entropy',
    'max_features': 0.5,
    'min_samples_leaf': 10,
    'random_state': 11,
    'n_jobs': -1
}
rf = RandomForestClassifier(**rf_params)

In [8]:
# Load dataset
X = df.loc[:, ["Pclass","Sex","Age","SibSp","Parch","Fare","Emb_C","Emb_Q","Emb_S"]]
y = df['Survived']

# Split dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [9]:
rf.fit(X_train, y_train)
rf_preds_train = rf.predict(X_train)
rf_preds_val = rf.predict(X_test)

print('Random Forest:\n> Accuracy on training data = {:.4f}\n> Accuracy on validation data = {:.4f}'.format(
    accuracy_score(y_true=y_train, y_pred=rf_preds_train),
    accuracy_score(y_true=y_test, y_pred=rf_preds_val)
))

Random Forest:
> Accuracy on training data = 0.7542
> Accuracy on validation data = 0.7207

In [10]:
# Save the model to a file
with open('random_forest_clf.pkl', 'wb') as f:
    pickle.dump(rf, f)

Modelos para la pregunta 3

In [11]:
df_houses = pd.read_csv("houseprices_regression.csv")
df_houses.describe()

,0,1,2,3,4,5,6,7,8,9,...,275,276,277,278,279,280,281,282,283,y
count,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,...,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000,1168.000000
mean,0.006849,0.048801,0.012842,0.775685,0.155822,0.005137,0.994863,0.334760,0.029110,0.008562,...,14.991438,2.973459,36.381849,6.317637,2007.837329,178614.745537,176619.115993,177809.272432,179343.130137,180506.606164
std,0.082512,0.215545,0.112643,0.417309,0.362842,0.071519,0.071519,0.472109,0.168186,0.092172,...,55.519622,41.890850,310.230732,2.693920,1.337320,63550.061979,53085.079509,58948.527844,70176.290246,77654.561586
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,2006.000000,73263.933996,95201.080000,60640.000000,59250.000000,34900.000000
25%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,5.000000,2007.000000,131756.561652,135194.525000,134980.000000,131187.500000,129800.000000
50%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,6.000000,2008.000000,163635.543268,163383.940000,167970.000000,165000.000000,164000.000000
75%,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,8.000000,2009.000000,205967.420449,204949.975000,208990.250000,212000.000000,214000.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,480.000000,738.000000,8300.000000,12.000000,2010.000000,526562.766944,364376.480000,452896.200000,466500.000000,625000.000000

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error


# Load dataset
X = df_houses.iloc[:, 0:-1]
y = df_houses.iloc[:,-1]

# Split dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on test set
y_pred = model.predict(X_test)

# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 808700581121432.9

In [13]:
# Save the model to a file
with open('housesprices_reg.pkl', 'wb') as f:
    pickle.dump(model, f)

In [2]:
df = pd.read_csv("./datasets/students_performance_evaluation.csv")
df

,STUDENT ID,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,STUDENT141,2,1,2,3,1,1,2,1,1,...,1,1,2,1,2,1,3,3,9,5
141,STUDENT142,1,1,2,4,2,2,2,1,4,...,1,1,3,2,2,1,5,3,9,5
142,STUDENT143,1,1,1,4,2,2,2,1,1,...,1,1,3,3,2,1,4,3,9,1
143,STUDENT144,2,1,2,4,1,1,1,5,2,...,2,1,2,1,2,1,5,3,9,4
144,STUDENT145,1,1,1,5,2,2,2,3,1,...,2,1,3,2,3,1,5,4,9,3

In [4]:
df.describe().T

           count      mean       std  min  25%  50%  75%  max
1          145.0  1.620690  0.613154  1.0  1.0  2.0  2.0  3.0
2          145.0  1.600000  0.491596  1.0  1.0  2.0  2.0  2.0
3          145.0  1.944828  0.537216  1.0  2.0  2.0  2.0  3.0
4          145.0  3.572414  0.805750  1.0  3.0  3.0  4.0  5.0
5          145.0  1.662069  0.474644  1.0  1.0  2.0  2.0  2.0
6          145.0  1.600000  0.491596  1.0  1.0  2.0  2.0  2.0
7          145.0  1.579310  0.495381  1.0  1.0  2.0  2.0  2.0
8          145.0  1.627586  1.020245  1.0  1.0  1.0  2.0  5.0
9          145.0  1.620690  1.061112  1.0  1.0  1.0  2.0  4.0
10         145.0  1.731034  0.783999  1.0  1.0  2.0  2.0  4.0
11         145.0  2.282759  1.223062  1.0  1.0  2.0  3.0  6.0
12         145.0  2.634483  1.147544  1.0  2.0  3.0  3.0  6.0
13         145.0  2.806897  1.360640  1.0  2.0  3.0  4.0  5.0
14         145.0  1.172414  0.490816  1.0  1.0  1.0  1.0  3.0
15         145.0  2.358621  0.805156  1.0  2.0  2.0  2.0  5.0
16         145.0  2.806897  1.329664  1.0  2.0  3.0  4.0  5.0
17         145.0  2.200000  0.917424  1.0  2.0  2.0  3.0  5.0
18         145.0  1.944828  0.562476  1.0  2.0  2.0  2.0  3.0
19         145.0  2.013793  0.539884  1.0  2.0  2.0  2.0  3.0
20         145.0  1.213793  0.411404  1.0  1.0  1.0  1.0  2.0
21         145.0  1.206897  0.588035  1.0  1.0  1.0  1.0  3.0
22         145.0  1.241379  0.429403  1.0  1.0  1.0  1.0  2.0
23         145.0  1.337931  0.614870  1.0  1.0  1.0  2.0  3.0
24         145.0  1.165517  0.408483  1.0  1.0  1.0  1.0  3.0
25         145.0  2.544828  0.564940  1.0  2.0  3.0  3.0  3.0
26         145.0  2.055172  0.674736  1.0  2.0  2.0  3.0  3.0
27         145.0  2.393103  0.604343  1.0  2.0  2.0  3.0  3.0
28         145.0  1.806897  0.810492  1.0  1.0  2.0  2.0  3.0
29         145.0  3.124138  1.301083  1.0  2.0  3.0  4.0  5.0
30         145.0  2.724138  0.916536  1.0  2.0  3.0  3.0  4.0
COURSE ID  145.0  4.131034  3.260145  1.0  1.0  3.0  7.0  9.0
GRADE      145.0  3.227586  2.197678  0.0  1.0  3.0  5.0  7.0

In [5]:
X = df.iloc[:,1:-2]
X

,1,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
0,2,2,3,3,1,2,2,1,1,1,...,1,1,1,1,3,2,1,2,1,1
1,2,2,3,3,1,2,2,1,1,1,...,1,1,1,1,3,2,3,2,2,3
2,2,2,2,3,2,2,2,2,4,2,...,1,1,1,1,2,2,1,1,2,2
3,1,1,1,3,1,2,1,2,1,2,...,1,1,1,2,3,2,2,1,3,2
4,2,2,1,3,2,2,1,3,1,4,...,1,1,2,1,2,2,2,1,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,2,1,2,3,1,1,2,1,1,2,...,1,1,1,1,2,1,2,1,3,3
141,1,1,2,4,2,2,2,1,4,2,...,1,2,1,1,3,2,2,1,5,3
142,1,1,1,4,2,2,2,1,1,1,...,1,1,1,1,3,3,2,1,4,3
143,2,1,2,4,1,1,1,5,2,3,...,1,1,2,1,2,1,2,1,5,3
144,1,1,1,5,2,2,2,3,1,1,...,1,1,2,1,3,2,3,1,5,4

In [7]:
y = df.iloc[:,-1]
y

0      1
1      1
2      1
3      1
4      1
      ..
140    5
141    5
142    1
143    4
144    3
Name: GRADE, Length: 145, dtype: int64

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Split dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict on test set
y_pred = model.predict(X_test)

# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print("Mean Squared Error:", mse)

Mean Squared Error: 8.363142494434832

In [10]:
# Save the model to a file
with open('student_performance_reg.pkl', 'wb') as f:
    pickle.dump(model, f)

In [11]:
df = pd.read_csv("./datasets/breast_cancer.csv")
df

,ID,diagnosis,a1,a2,a3,a4,a5,a6,a7,a8,...,a21,a22,a23,a24,a25,a26,a27,a28,a29,a30
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [15]:
X = df.iloc[:,2:33]
X

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,...,a21,a22,a23,a24,a25,a26,a27,a28,a29,a30
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [17]:
y = df.iloc[:,1]
y

0      M
1      M
2      M
3      M
4      M
      ..
564    M
565    M
566    M
567    M
568    B
Name:  diagnosis, Length: 569, dtype: object

In [18]:
from sklearn.tree import DecisionTreeClassifier

# Split dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = DecisionTreeClassifier(criterion='gini',max_depth=5)
model.fit(X_train, y_train)

decision_tree_preds_train = model.predict(X_train)
decision_tree_preds_val = model.predict(X_test)

print('Random Forest:\n> Accuracy on training data = {:.4f}\n> Accuracy on validation data = {:.4f}'.format(
    accuracy_score(y_true=y_train, y_pred=decision_tree_preds_train),
    accuracy_score(y_true=y_test, y_pred=decision_tree_preds_val)
))

Random Forest:
> Accuracy on training data = 0.9956
> Accuracy on validation data = 0.9474

In [19]:
with open("./saved_models/decision_tree_clf.pkl", "wb") as f:
    pickle.dump(model,f)

In [30]:
import pandas as pd
from sklearn.datasets import load_boston
df = pd.DataFrame(boston['data'], columns = boston['feature_names'])
df['target'] = boston['target']
df

/home/angel/.local/lib/python3.10/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [32]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CRIM,506.0,3.613524,8.601545,0.00632,0.082045,0.25651,3.677083,88.9762
ZN,506.0,11.363636,23.322453,0.00000,0.000000,0.00000,12.500000,100.0000
INDUS,506.0,11.136779,6.860353,0.46000,5.190000,9.69000,18.100000,27.7400
CHAS,506.0,0.069170,0.253994,0.00000,0.000000,0.00000,0.000000,1.0000
NOX,506.0,0.554695,0.115878,0.38500,0.449000,0.53800,0.624000,0.8710
RM,506.0,6.284634,0.702617,3.56100,5.885500,6.20850,6.623500,8.7800
AGE,506.0,68.574901,28.148861,2.90000,45.025000,77.50000,94.075000,100.0000
DIS,506.0,3.795043,2.105710,1.12960,2.100175,3.20745,5.188425,12.1265
RAD,506.0,9.549407,8.707259,1.00000,4.000000,5.00000,24.000000,24.0000
TAX,506.0,408.237154,168.537116,187.00000,279.000000,330.00000,666.000000,711.0000
PTRATIO,506.0,18.455534,2.164946,12.60000,17.400000,19.05000,20.200000,22.0000
B,506.0,356.674032,91.294864,0.32000,375.377500,391.44000,396.225000,396.9000
LSTAT,506.0,12.653063,7.141062,1.73000,6.950000,11.36000,16.955000,37.9700
target,506.0,22.532806,9.197104,5.00000,17.025000,21.20000,25.000000,50.0000

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,False,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,False,False,False,False,False,False,False,False